[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no
[req_distinguished_name]
CN = ops-mongo
[v3_req]
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth, clientAuth
subjectAltName = @alt_names
[alt_names]
DNS.1 = localhost
DNS.2 = ops-mongo-0.ops-mongo-svc.mongodb.svc.cluster.local
DNS.3 = ops-mongo-1.ops-mongo-svc.mongodb.svc.cluster.local
DNS.4 = ops-mongo-2.ops-mongo-svc.mongodb.svc.cluster.local
DNS.5 = ops-mongo-svc.mongodb.svc.cluster.local
DNS.6 = *.ops-mongo-svc.mongodb.svc.cluster.local
IP.1 = 127.0.0.1
